.search {
  display: grid;
  position: relative;
  padding-block: 0.5rem;
  width: 100%;
}

.search-input {
  width: 100%;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 0.3rem;
}

.search-input:focus {
  border-color: rgb(35, 168, 221);
}

.search-results {
  background-color: #fff;
  padding-inline: 1rem;
  max-width: 300px;
  position: absolute;
  top: 100%;
  left: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow: auto;
}

.search-results ul {
  padding-inline: 1rem;
  display: grid;
  gap: 1rem;
}
