@import url(./news.css);

html {
  font-size: 14px;
  font-family: sans-serif;
  color: #222;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100dvh;
  margin: 0;
  gap: 1rem;
  background-color: #f2f2f2;
}

header {
  background-color: rgb(225, 225, 225);
  position: sticky;
  top: 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
  color: #222;
}

header p {
  margin-top: 0;
}

footer {
  padding: 0.5rem;
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #222;
}

.btn:hover {
  background-color: #eee;
}
