.news {
  margin: auto;
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.news-item {
  background-color: #fff;
  padding: 1rem;
  height: max-content;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.news-item p {
  margin: 0;
}

.logs {
  font-size: 0.9rem;
  border-left: 1px solid #ccc;
  padding-left: 1rem;
  color: #000;
  display: grid;
  gap: 1rem;
}

.news h2 {
  margin: 0;
}

.news .location {
  margin: 0;
}

.news-detail {
  background-color: #fff;
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
  margin-inline: auto;
}

.news-detail h1 {
  margin: 0;
}

.news-detail .logs {
  margin-top: 2rem;
}

.logs p {
  margin: 0;
}
